.breadcrumb {
    margin-top: 30px;
}

.sidebar{
    margin-top: 20px;
}
.panel-title{
    background: #7ebee6;
    cursor: pointer;
    padding: 17px 20px;
    position: relative;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #e5e5e5;
}
.panel-title a{
    text-decoration: none;
}
.panel-heading{
    padding: 0px;
}
.panel-title::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    content: "";
    display: block;
    font-family: fontawesome;
    height: 24px;
    line-height: 22px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 13px;
    width: 24px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}


.sidebar-1{
    margin-bottom: 20px;
}
.news-detail-intro h3 {
    padding-bottom: 10px;
}

.news-detail-img img{
    width: 100%;
    height: auto;
}

.news-detail-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact {
    padding-top: 10px;
    font-weight: bold;
}